.container {
  flex: 1;
  color: #1281d6;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.record,
.capture {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6a00;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  gap:0.3rem;
}

.record svg,
.capture svg {
  vertical-align: middle;
}

.video {
  position: relative;
  margin-top: 1rem;
  flex: 1;
  height: calc(100vh - 120px); /* Adjust based on your header height */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #333;
  overflow: hidden;
}

.videoFeed {
  width: 100%;
  height: 100%;
  border: none;
}


.videoSpinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.miniSpinner {
  width: 40px;
  height: 40px;
  border: 4px solid transparent;
  border-top: 4px solid #ff6a00;
  border-right: 4px solid #1281d6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noSignal {
  text-align: center;
  color: gray;
  padding: 20px;
}

.controlsBottomRight {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: flex;
  gap: 1rem;
  z-index: 1000;
}

.controlButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6a00;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  gap: 0.5rem;
  font-weight: bold;
}

.controlButton svg {
  vertical-align: middle;
}


.fullscreenToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0000;
  border: none;
  border-radius: 4px;
  color: #ff6a00;
  padding: 6px;
  cursor: pointer;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
