.navbar {
  
  color: white;
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Left logo */
.left {
  display: flex;
  align-items: center;
}


/* Right logo */
.right {
  display: flex;
  align-items: center;
}

/* Common logo style */
.logo {
  height: 20px; /* Adjust logo size */
  width: auto;
}

.iconContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}