.navbar {
    background-color: #111; /* Same black as sidebar */
    color: white;
    height: 70px; /* Reduced height */
    padding: 0 20px; /* Adjust padding to make it compact */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: flex-start; /* Align title to the left */
    font-size: 1rem; /* Adjust font size */
    font-weight: 500;
    border-bottom: 1px solid #333;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  