.navbar {
  color: white;
  height: 70px;
  padding: 0 20px;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left logo */
.left {
  display: flex;
  align-items: center;
}

/* Center icon */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* Right logo */
.right {
  display: flex;
  align-items: center;
}

/* Common logo style */
.logo {
  height: 20px;
  width: auto;
}
